
body{
  color: white;
  display: flex;
  background: #23252C;
  width: 550px;
  height: 868px;
  padding: 44px 117px 44px 116px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
  width: 317px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: url(./assets/images/jnic.jpeg);
  background-size: cover;
}

.info{

  width: 100% ;
  height: 100% ;
  flex-shrink: 0;
  background: #1A1B21;
}

.info-text{
  background: #1A1B21;
  width: 178.065px;
  height: 25.806px;
  flex-shrink: 0;
  color: 'white';
}
